Source: pika-device-manager
Section: admin
Priority: optional
Maintainer: Cosmo <cosmo@pika-os.com>
Standards-Version: 4.6.1
Build-Depends:
    debhelper-compat (= 13),
    build-essential,
    pkg-config,
    libpci-dev,
    libusb-dev,
    libssl-dev,
    libadwaita-1-dev,
    desktop-file-utils,
Rules-Requires-Root: no

Package: pika-device-manager
Architecture: linux-any
Depends: ${misc:Depends}, cfhdb, ${shlibs:Depends}
Conflicts: pika-drivers
Replaces: pika-drivers
Provides: pika-drivers
Description: GTK4 + Libadwaita Frontend for CFHDB
